@import 'tailwindcss';

.loader {
  width: 60px;
  height: 60px;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  border-top: gray 3px solid;
  border-bottom: gray 3px solid;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
